<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.willard.boot.mapper.VendorBusinessCashDepositMapper">

    <sql id="Base_Column_List">
        id, vendor_company_id, business_task_id, pre_amount, amount, business_type, business_desc,
        type, reason, status, bank_transaction,auditor,audit_time,create_at, proposer, is_deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultType="wang.willard.boot.bean.VendorBusinessCashDeposit">
        select
        <include refid="Base_Column_List"/>
        from vendor_business_cash_deposit
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO vendor_business_cash_deposit(id, vendor_company_id, pre_amount, amount, business_type,
        type, reason, status,auditor,audit_time, proposer ,create_at,is_deleted)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.vendorCompanyId},
            #{item.preAmount},
            #{item.amount},
            #{item.businessType},
            #{item.type},
            #{item.reason},
            #{item.status},
            #{item.auditor},
            #{item.auditTime},
            #{item.proposer},
            #{item.createAt},
            #{item.isDeleted}
            )
        </foreach>
    </insert>
</mapper>